#chatting-screen {
  background-color: rgb(188, 204, 188);
  height: 100vh;
}

#chatting-screen .alt-header,
#chatting-screen .status-bar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgb(188, 204, 188);
}

#chatting-screen .status-bar {
  height: 80px;
}

#chatting-screen .status-bar__column {
  display: flex;
  align-items: flex-start;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
  }

  to {
    transform: none;
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
}

.main-chat {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.6s linear;
  -webkit-animation: fadeIn 0.6s linear;
}

.chatting__timestamp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 30px;
  border-radius: 20px;
  background-color: wheat;
  color: green;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 40px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

.message-row img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 15px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__author {
  opacity: 0.8;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  font-size: 16px;
  margin-right: 10px;
}

.message__time {
  font-size: 14px;
  opacity: 0.7;
}

.message-row__own {
  justify-content: flex-end;
}

.message-row__own .message__bubble {
  background-color: lightgray;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  order: 1;
  margin-right: 0;
  margin-left: 10px;
}
