.welcome-header {
  margin: 90px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: var(--weight-bold);
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: var(--font-medium_large);
}

.welcome-header__text {
  font-size: var(--font-regular);
  width: 70%;
  opacity: 0.7;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.login-form input {
  border: none;
  padding: 15px 0;
  font-size: var(--font-regular);
  margin-bottom: 25px;
}

.login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.login-form input:focus {
  border-color: var(--color-green);
}

.login-form .login-form__id,
.login-form .login-form__password {
  border-bottom: var(--border-line);
  transition: border-color 0.3s ease-in-out;
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  -ms-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
}

.login-form__submit {
  background-color: var(--color-green);
  cursor: pointer;
  color: ivory;
  padding: 20px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.login-form__submit:hover {
  background-color: var(--color-dark_green);
}

.login-form a {
  text-align: center;
}
