@media screen and (max-width: 370px) {
  .profile__content img {
    width: 80px;
    height: 80px;
  }
  .profile__content span {
    font-size: 16px;
  }
  .profile__content {
    height: 70vh;
  }
  .profile__bottom-icon i {
    font-size: 20px;
  }
  .profile__bottom-icon span {
    font-size: 14px;
  }

  .back-icon {
    font-size: 14px;
  }

  .main-screen {
    height: 120vh;
  }

  .open_post__column img {
    width: 50px;
    height: 50px;
  }

  .icon-row__icons i {
    font-size: 20px;
  }

  .icon-row__icons span {
    font-size: 12px;
  }
  .user-component__avatar {
    width: 60px;
    height: 60px;
  }
  .user-component__user-name {
    font-size: 16px;
  }
  .user-component__state {
    font-size: 14px;
  }

  .user-component__column i {
    font-size: 20px;
  }
  .more-suggestions__item img {
    width: 50px;
    height: 50px;
  }
  .more-suggestions__item span {
    font-size: 12px;
  }

  .settings__notice-list-column {
    font-size: 14px;
  }

  .settings__notice-list-column:last-child {
    font-size: 14px;
  }
  .navbar__btn i {
    font-size: 20px;
  }
  .navbar {
    padding: 15px 25px;
  }
  .badge {
    width: 20px;
    height: 20px;
  }

  .message-row img {
    width: 40px;
    height: 40px;
  }

  .message__author {
    font-size: 14px;
  }

  .message__bubble {
    font-size: 13px;
    padding: 10px;
  }

  .chatting__timestamp {
    width: 250px;
    font-size: 14px;
  }
}
