.no-mobile {
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgb(26, 66, 26);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  font-size: 40px;
  color: ivory;
}

@media screen and (max-width: 900px) {
  .no-mobile {
    font-size: 30px;
  }
}

@media screen and (max-width: 800px) {
  .no-mobile {
    display: none;
  }
}
