.settings__notice-list {
  margin-left: 20px;
}

.settings__notice-list li {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__notice-list li i {
  margin-right: 20px;
  font-size: 22px;
}

.settings__notice-list-column:last-child {
  opacity: 0.7;
  font-size: 16px;
}
