.alt-header {
  margin-top: 30px;
  padding: var(--horizontal-space);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alt-header__title {
  font-size: 25px;
  font-weight: var(--weight-bold);
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column i {
  font-size: 20px;
}

.alt-header__column span:last-child {
  margin-left: 30px;
}
