.icon-row {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.icon-row__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.icon-row__icons i {
  font-size: 40px;
}

.icon-row__icons span {
  margin-top: 20px;
}
