.icon-row {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.icon-row__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.icon-row__icons i {
  font-size: 35px;
}

.icon-row__icons span {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}
