.screen-header {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  padding: var(--horizontal-space);
}

.screen-header__title {
  font-size: 28px;
  font-weight: var(--weight-bold);
}

.screen-header__icons {
  position: relative;
  font-size: 20px;
}

.screen-header__icons span {
  margin-left: 25px;
}

.chat-header {
  margin-bottom: 20px;
}

@keyframes rotateCog {
  from {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  to {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
