.screen-header {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  padding: var(--horizontal-space);
}

.screen-header__title {
  font-size: 28px;
  font-weight: var(--weight-bold);
}

.screen-header__icons {
  position: relative;
  font-size: 20px;
}

.screen-header__icons span {
  margin-left: 25px;
}

.chat-header {
  margin-bottom: 20px;
}
